# Entornos virtuales
venv/
.env/
config.env
frontend/.env.local

# Archivos compilados o temporales
__pycache__/
*.pyc
*.pyo
*.pyd
frontend/node_modules/
frontend/dist/

# Logs
*.log

# Base de datos local
*.sqlite3

# Docker
*.dockerignore
!frontend/.dockerignore
docker-compose.override.yml
